/* 
    Document   : user_signup
    Created on : 5 Jan, 2023, 10:05:53 PM
    Author     : prath
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


*{
  box-sizing: border-box;
}

body
{
    background-color: #e8eaf6;
}
 

.header_div
{
    height: 70px;
    width: 100%;
    background-color: white;
    
}

.image_class
{
    margin-left: 1%;
    height: 100%;
    width: 5%;
}

.header_button
{
    border-radius: 4px;
    border: none;
    color: white;   
    height: 40px;
    width: 90px;
    margin-top: 1%;
    margin-right: 2%;
    background-color: #072791!important;
    font: inherit;
    float: right;
}


.maindiv
{
    display: block;
    border-radius: 4px;
    height: 80%;
    width: 50%;
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;    
}


.logo1
{
    height: 80px;
    width: 100%;
     
}

 

.textbox{
     
    border-style: hidden;
    border-bottom-style: groove; 
    margin-left: 10%; 
    margin-top: 20px;
    height: 40px;
    width: 80%;
    font: inherit;
}


.button
{
    border-radius: 4px;
    border: none;
    color: white;
    margin-left: 7%; 
    margin-right: 10%;
    height: 40px;
    width: 90px;
    margin-top: 30px;
    background-color: #072791!important;
    font: inherit;
     
}