<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_signup</servlet-name>
        <servlet-class>admin_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_signup</servlet-name>
        <servlet-class>user_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_index</servlet-name>
        <servlet-class>admin_index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_product</servlet-name>
        <servlet-class>add_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product_select</servlet-name>
        <servlet-class>product_select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product_information</servlet-name>
        <servlet-class>product_information</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_button</servlet-name>
        <servlet-class>logout_button</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart1</servlet-name>
        <servlet-class>cart1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>address_details</servlet-name>
        <servlet-class>address_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_stock</servlet-name>
        <servlet-class>update_stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer_history</servlet-name>
        <servlet-class>customer_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>history</servlet-name>
        <servlet-class>history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orders_received</servlet-name>
        <servlet-class>orders_received</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order_information</servlet-name>
        <servlet-class>order_information</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_forgot_password</servlet-name>
        <servlet-class>admin_forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_forgot_password</servlet-name>
        <servlet-class>user_forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orders_processed</servlet-name>
        <servlet-class>orders_processed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_signup</servlet-name>
        <url-pattern>/admin_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_signup</servlet-name>
        <url-pattern>/user_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_index</servlet-name>
        <url-pattern>/admin_index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_product</servlet-name>
        <url-pattern>/add_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product_select</servlet-name>
        <url-pattern>/product_select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product_information</servlet-name>
        <url-pattern>/product_information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_button</servlet-name>
        <url-pattern>/logout_button</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart1</servlet-name>
        <url-pattern>/cart1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>address_details</servlet-name>
        <url-pattern>/address_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_stock</servlet-name>
        <url-pattern>/update_stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer_history</servlet-name>
        <url-pattern>/customer_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>history</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orders_received</servlet-name>
        <url-pattern>/orders_received</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order_information</servlet-name>
        <url-pattern>/order_information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_forgot_password</servlet-name>
        <url-pattern>/admin_forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_forgot_password</servlet-name>
        <url-pattern>/user_forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orders_processed</servlet-name>
        <url-pattern>/orders_processed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
